{# templates/dhcp/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modification de l'host {{ host.hostname }} {% endblock %}

{% block body %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_errors(form) }}
	
	
	<div class="form-row">
		{{ form_label(form.hostname) }}
		{{ form_errors(form.hostname) }}
		{{ form_widget(form.hostname) }}
		
	</div>
	
	{{ form_row(form.expirationDate) }}

    {{ form_row(form.save, { 'label': 'Save host' }) }}
{{ form_end(form) }}
{% endblock %}
